[Desktop Entry]
Version=1.0
Type=Application
Name=Might and Magic III
Comment=Launch Might and Magic III using DOSBox-X
Exec=/home/papa/games/dosboxx/MM3.sh
Icon=MM3
Terminal=false
Categories=Game;RolePlaying;