[Desktop Entry]
Name=Might and Magic III
Comment=Launch Might and Magic III using DOSBox-X
Exec=/bin/bash -c "${HOME}/games/dosboxx/MM3.sh"
Type=Application
Terminal=false
Icon=MM3
Categories=Game;RolePlaying;