[Unit]
Description=Reset dynamique du hub USB 1a40:0101 au boot
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/reset_usb_camera_hub.sh
ExecStartPost=/bin/sleep 5
ExecStartPost=/bin/systemctl --user restart pipewire pipewire-pulse wireplumber

[Install]
WantedBy=multi-user.target